:root {
  --orange: #ff7143;
  --purple: #5454d4;
  --blue: #1d293f;
  --black: #19191b;
  --gray: #696871;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  margin-bottom: 10rem;
}

header .logo {
  width: 20rem;
  height: 4.1rem;
}

header .container {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 100%;
  max-width: 32.7rem;
  display: flex;
  gap: 4.9rem;
  flex: 1;
  height: 3.2rem;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.0469rem;
}

header .container button {
  background-color: var(--orange);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.4rem;
}

.hero .left {
  width: 100%;
  max-width: 45.9rem;
  height: 46.1rem;
}

.hero .left h1 {
  color: var(--black);
  font-size: 8rem;
  font-weight: 700;
  line-height: 7.7rem; /* 96.25% */
  letter-spacing: -0.2501rem;
  margin-bottom: 3rem;
}

.hero .left p {
  color: var(--gray);
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  line-height: 3rem; /* 150% */
  letter-spacing: -0.0625rem;
  margin-bottom: 5rem;
}

.hero .left .action {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero .left .action button {
  background-color: var(--purple);
}

.hero .right {
  width: 580px;
  height: 644px;
}

.clients .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 11.979rem;
  padding-right: 4.676rem;
}

.subscription {
  margin-top: 15.017rem;
}

.subscription .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription .container h2 {
  color: var(--black);
  font-size: 5rem;
  line-height: 5.7rem; /* 114% */
  letter-spacing: -0.1563rem;
}

.button-action {
  width: 21.1rem;
  height: 6rem;
  color: var(--white);
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: -0.0531rem;
  border-radius: 1rem;
}

.subscription .container .right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 55.6rem;
  justify-content: center;
  align-items: flex-start;
  height: 22.9rem;
}

.metrics .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.metrics .container .right h2 {
  color: var(--black);
  font-size: 5rem;
  line-height: 5.7rem; /* 114% */
  letter-spacing: -0.1563rem;
}

.metrics .container .right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 55.6rem;
  justify-content: center;
  align-items: flex-start;
  height: 22.9rem;
}

.description {
  color: var(--gray);
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  line-height: 3rem; /* 150% */
  letter-spacing: -0.0625rem;
}

.learn-more {
  color: var(--purple);
  font-size: 1.7rem;
  letter-spacing: -0.0531rem;
}

.services {
  margin-top: 13.8rem;
  margin-bottom: 15rem;
}

.services .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7.5rem;
}

.services .container .card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 30.7rem;
  height: 20.8rem;
}

.services .container .card .card-image {
  width: 100%;
  height: 100%;
  max-width: 15.1rem;
  max-height: 7.2rem;
  margin-bottom: 2rem;
}

.services .container .card:nth-child(2) .card-image {
  margin-right: -25px;
}

.services .container .card .card-image img {
  margin: 0 auto;
}

.services .container .card h3 {
  color: var(--black);
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.6rem; /* 150% */
  letter-spacing: -0.075rem;
}

.services .container .card p {
  color: var(--gray);
  text-align: center;
  font-family: "Mulish", sans-serif;
  line-height: 2.4rem; /* 150% */
  letter-spacing: -0.05rem;
  font-size: 1.6rem;
}

.plans .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plans .left {
  width: 100%;
  max-width: 52.3rem;
}

.plans .left p {
  color: var(--black);
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem; /* 116.667% */
  letter-spacing: -0.1876rem;
}

.plans .right {
  width: 100%;
  max-width: 346px;
  height: 65px;
}

.plans .right .buttons {
  color: var(--black);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 100px 100px;
}

.plans .right .buttons button {
  flex: 1;
  padding: 16px 8px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.plans .right .buttons button.active {
  background-color: var(--purple);
  color: var(--white);
  border-radius: 10px 0px 0px 10px;
}

.plans__values {
  width: 100%;
  max-width: 106.9rem;
  margin-top: 8.2rem;
}

.plans__values .container {
  display: flex;
}

.plans__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 21px 27px 24px;
  flex: 1;
  border-radius: 10px;
  background: #f8f8f8;
}

.plans__title {
  color: var(--gray);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem; /* 155.556% */
  letter-spacing: -0.0563rem;
  margin-bottom: 2.2rem;
}

.plans__card h4 span {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: -0.1034rem;
}

.plans__card h4 {
  color: var(--blue);
  text-align: center;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.6rem; /* 93.333% */
  letter-spacing: -0.1034rem;
}

.plans__info {
  color: var(--gray);
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 5rem; /* 294.118% */
  letter-spacing: -0.0531rem;
  margin-bottom: 3.6rem;
}

.plans_button_action {
  width: 100%;
  max-width: 28.5rem;
  height: 6rem;
  border-radius: 1rem;
  border: 1px solid #eae9f2;
  color: var(--purp);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0531rem;
}

.plans__card.active {
  background-color: var(--orange);
}

.plans__card.active .plans__title {
  color: var(--white);
}

.plans__card.active h4 {
  color: var(--white);
}

.plans__card.active .plans__info {
  color: var(--white);
}

.plans__card.active .plans_button_action {
  background-color: #9f3919 !important;
  border: none;
  color: var(--white);
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 560px) {
  nav {
    display: none;
  }

  header .container img {
    width: 10rem;
  }

  header .container .button-action {
    width: 15rem;
  }

  .hero {
    text-align: center;
  }

  .hero .left {
    margin: 0 auto;
  }

  .hero .left h1 {
    font-size: 5rem;
  }

  .hero .right {
    display: none;
  }

  .clients .container {
    margin-top: 10rem;
    display: none;
  }

  .subscription .container .left {
    display: none;
  }

  .subscription .container {
    text-align: center;
  }

  .metrics {
    margin-top: 10rem;
  }

  .metrics .container .left {
    display: none;
  }

  .metrics .container {
    text-align: center;
  }

  .learn-more {
    text-align: center;
    display: block;
    width: 100%;
  }

  .services .container {
    flex-direction: column;
  }

  .plans .container {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }

  .plans__values .container {
    flex-direction: column;
    gap: 4rem;
  }
}
